{% extends "layout.html" %}
{% block title %}Delete Comment | Bloggy{% endblock title %}

{% block content %}
    <div class="container">
        <h4>Confirm Delete</h4>
        <form method="POST" action="{% url 'comments:comment_delete' pk=c.id %}" style="margin-bottom:5rem;">
            {% csrf_token %}
            <p>Sure you want to delete "{{c}}" ?</p>
            <input type="submit" value="Confirm" class="btn red">
            <a href="{{ c.content_object.get_absolute_url }}" class="btn black">Cancel</a>         
        </form>
    </div>
{% endblock content %}
    