{% extends "layout.html" %}

{% block style %}
    <style>
        .p-20 {
            padding-top:2em;
            padding-bottom: 2em;
            padding-left: 4em;
            padding-right: 4em;
        }
    </style>
    
{% endblock style %}
{% block title %}Login | Bloggy{% endblock title %}

{% block content %}
    <div class="container">
        <p class="breadcrumbs" id="bc">
            <span class="post-labels">
                <a href="{% url 'home' %}" rel="tag" title="Home">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Accounts</span>
                <!-- <a href="{% url 'accounts:accounts_index' %}" rel="tag" title="Accounts">Accounts</a> -->
                <i class="fa fa-angle-right"></i>
                <span>Login</span>
            </span>
        </p>
        
        <div class="row">
            <form action="{% url 'accounts:login' %}" method="POST" class="site-form col m6 s12 offset-m3 z-depth-5 grey white-text" style="padding-bottom:3rem;padding-top: 1rem;padding-left: 4rem;padding-right: 4rem;margin-top:4rem;">
                <h3>Login</h3>
                <div class="row">
                    {% csrf_token %}
                    <div class="input-field col s12">
                        {{form.email}}
                        {{form.email.label_tag}}
                    </div>
                    <br>
                    <div class="input-field col s12">
                        {{form.password}}
                        {{form.password.label_tag}}
                    </div>
                    <!-- {{form.as_p}} -->
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{request.GET.next}}">
                    {% endif %}
                    <input type="submit" value="Login" class="btn white black-text col m4 s4">
                    <div class="col s1 m1"></div>
                    <a href="{% url 'accounts:signup' %}" class="btn white black-text right col m4 s4">Signup?</a>
                </div>
            </form>
        </div>
        
    </div>

{% endblock content %}

{% block script %}
    <script>
    $(document).ready(function() {
        $('#id_username').attr('data-length', '15')
        $('#id_password').attr('data-length', '20')
        $('input#id_username, textarea#id_password').characterCounter();
    });
    </script>
{% endblock script %}