{% extends "layout.html" %}

{% block title %}Create post | Bloggy{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Create</h2>

        <form action="{% url 'post:create' %}" method="POST" enctype="multipart/form-data" class="create-form">
            {% csrf_token %}
            {{form}}
            <br>
            <input type="submit" value="Create" class="btn black">
        </form>
    </div>
{% endblock content %}

{% block script %}

{% endblock script %}
