.helptext {
    display: none;
    color: gray;
}

.site-form label {
    color: #000;
}

.p-20 {
    padding: 20px;
}

.errorlist li {
    color: red;
}

.thumb-img {
    max-width: 100%;
}

.hidee {
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .hidee {
        display: inline;
    }
}

/* @media screen and ( max-width: 800px ){
    body {
        background: greenyellow;
    }
    .brand-logo {
        padding: 1em;
    }
} */

@media screen and ( min-width: 800px ){
    .brand-logo {
        padding-left: 3em !important;
    }
}