hr{
    opacity: 0.5;
    color: gray !important;
}

body {
    display: flex;
    min-height: 150vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.navbar-fixed { z-index: 9999; }
.tabs .indicator {
    background-color: grey;
}

.wmd-panel {
    margin-left: 15% !important;
    margin-right: 0 !important;
    min-width: 300px !important;
}
/*
.post-outer {
    margin-bottom: 10px;
}

.md-card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: hidden;
}

.post-start {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    background: #fff;
    position: relative;
    box-shadow: 0px 0px 0px 1px #ddd;
    -webkit-box-shadow: 0px 0px 0px 1px #ddd;
    -moz-box-shadow: 0px 0px 0px 1px #ddd;
}

.home-post-single {
    padding: 20px;
    padding-left: 240px;
}

.post-home-title {
    z-index: 5;
    position: relative;
    margin: 0;
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    max-height: 66px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-home-title a {
    color: #616161 !important;
}

.post-header {
    font-size: 13px;
    line-height: 1.6;
}

.post-labels {
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 5;
} 

.home-post-above .post-labels a {
    padding: 0px 1.3em;
    margin: 5px 2px;
    background-color: #F5F5F5 !important;
}

.post-outer .post-labels a {
    display: none;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    padding: 3px 6px;
    display: inline-block;
    margin: 5px 0;
    border-radius: 3px;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    background: #F0F0F0 !important;
    color: #616161 !important;
}

.post-author.vcard {
    margin-left: 0px !important;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    margin: 5px 2px !important;
    font-size: 12px;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    padding: 3px 6px;
    display: inline-block;
    margin: 5px 0;
    border-radius: 3px;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    background: #F0F0F0 !important;
    color: #616161 !important;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    margin: 5px 2px !important;
    font-size: 12px;
}

.post-comment-link, .post-timestamp {
    margin-left: 0px;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    padding: 3px 6px;
    display: inline-block;
    margin: 5px 0;
    border-radius: 3px;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    background: #F0F0F0 !important;
    color: #616161 !important;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    background: #F0F0F0 !important;
    color: #616161 !important;
}

main-home-title a {
    color: #616161 !important;
}

.comment-link {
    float: none;
    white-space: nowrap;
}

.post {
    color: #616161;
    margin-bottom: 10px;
    position: initial;
}

.image-index, .home-post-single img {
    width: 220px;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

.home-post-single img {
    object-fit: cover;
    object-position: center;
    width: 220px;
    height: 100%;
}

.image-index, .home-post-single img {
    width: 220px;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

.rmlink {
    float: right;
}

.rmlink a {
    height: 25px;
    line-height: 25px;
    outline: 0;
    padding: 0 1rem;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #616161;
    box-shadow: 0px 1px 3px #CCCCCC;
} 
*/

#bc {
    margin: 10px 0 15px;
    padding: 20px;
    background: white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.helptext {
    display: none;
    color: gray;
}

.site-form label {
    color: #000;
}

.p-20 {
    padding: 20px;
}

.errorlist li {
    color: red;
}

.thumb-img {
    max-width: 100%;
}

.hidee {
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .hidee {
        display: inline;
    }
}

/* @media screen and ( max-width: 800px ){
    body {
        background: greenyellow;
    }
    .brand-logo {
        padding: 1em;
    }
} */

@media screen and ( min-width: 800px ){
    .brand-logo {
        padding-left: 3em !important;
    }
}